.dropbox
.idea/
ToSubmit/
Lectures/
.ipynb_checkpoints/
*.gz
101_ObjectCategories/
AngliaSVM/
Cache/
Results/
svm_v0.56/
vlfeat-0.9.20/
matconvnet-1.0-beta17/
FlowerData/
PeppersData/
ImageData/


*.docx
*.pptx
*.zip

# Matlab
*.mat
*.asv

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Task2/Code/Test.m
